<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pigeon</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/home.css">  
</head>
<body>
  <div class="main">
    <header>
      <div class="head">
        <div class="logo">
        <h3>Pigeon</h3>
        </div>
        <div class="options">
          <div class="settings">
            <i class="fa-solid fa-circle-user"></i>
          </div>
          <div class="ellipsis"><i class="fa-solid fa-ellipsis-vertical"></i>
           <div class="actions">
            <div>Settings</div>
            <a href="/pigeon/new"><div class="new">Add new contact</div></a>
            <a href="/pigeon/logout"><div class="logout">logout</div></a>
          </div>
          </div>
        </div>
      </div>  
            <div class="srch">
        <input type="text" placeholder="search">
      </div>
    </header>
    <form method="GET" action="/pigeon/new">
      <button class="new-contact">+</button>
      </form>
    <main>
      <% for(let friend of user.friends){ %>
    <a href="/pigeon/chat/<%=friend.convoId._id%>">
      <div class="chat" data-convo="<%=friend.convoId._id%>">
        <div class="dp">
          <img src="/images/profile.png" />
        </div>
        <div class="user">
          <p><%= friend.firstName%></p>
        </div>
      </div>
      </a>
      <% } %>
    </main>
  </div>
  
  <script type="module" src="/js/home.js"></script>
</body>
</html>