<% layout("layouts/boiler") %>

<% style = `
<link rel="stylesheet" href="/css/home.css">
` %>

  <div class="main">
    <header>
      <div class="head">
        <div class="logo">
        <h3>Pigeon</h3>
        </div>
        <div class="options">
          <div class="settings">
            <a href="/pigeon/user"><i class="fa-solid fa-circle-user"></i></a>
          </div>
          <div class="ellipsis"><i class="fa-solid fa-ellipsis-vertical"></i>
           <div class="actions">
            <a href="/pigeon/user"><div>Settings</div></a>
            <a href="/pigeon/new"><div class="new">Add new contact</div></a>
            <a href="/pigeon/logout"><div class="logout">logout</div></a>
          </div>
          </div>
        </div>
      </div>  
            <div class="srch">
        <input type="text" placeholder="search">
      </div>
    </header>
    <form method="GET" action="/pigeon/new">
      <button class="new-contact">+</button>
      </form>
    <main>
      <% if(user.friends && user.friends.length > 0){ %>
      <% for(let friend of user.friends){ %>
    <a href="/pigeon/chat/<%=friend.convoId._id%>">
      <div class="chat" data-convo="<%=friend.convoId._id%>">
        <div class="dp">
          <img src="<%= friend.user.profile?.url || '/images/profile.png' %>"/>
        </div>
        <div class="user">
          <p><%= friend.firstName%></p>
        </div>
      </div>
      </a>
      <% } %>
      <% } else{ %>
      <img class="empty-img" src="/images/empty.png">
      <% } %>
    </main>
  </div>
  
  <script type="module" src="/js/home.js"></script>