<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pigeon</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/friend.css">
  <link rel="icon" 
        type="image/png" 
        href="/images/favicon.png">
</head>
<body>
      <div class="head">
      <a href="/pigeon"><i class="fa-solid fa-arrow-left"></i></a><p>New contact</p>
    </div>
  <div class="main">
    <form method="POST" action="/pigeon/new">
      <div>
      <label for="firstName"><i class="fa-solid fa-user"></i></label>
      <input type="text" name="firstName" class="input" id="fistName" placeholder="First name">
      </div>
      <div>

      <input type="text" name="lastName" class="input" id="lastName" placeholder="Last name">
      </div>
      <div>
        <label for="phone"><i class="fa-solid fa-phone"></i></label>
        <input type="text" name="phone" pattern="[0-9]{10}" placeholder="Phone" id="phone" class="input" required>
      </div>
      <button class="save-user">Save</button>
    </form>
  </div>
</body>
</html>