<% layout("layouts/boiler") %>

<% style = `
<link rel="stylesheet" href="/css/register.css">
` %>

  <div class="register-form">
    <h2>Login</h2>
    <form method="POST" action="/pigeon/login" novalidate class="needs-validation">
      
      
    <label class="form-label" for="phone">Phone No:</label>
    <input type="text" name="phone" id="phone" inputmode="numeric" pattern="[0-9]{10}" class="form-control" required>
     <div class="valid-feedback">
            Looks good!
          </div>
         <div class="invalid-feedback">
           Enter Valid Phone Number
         </div>
         <br>
         
         
    <label for="password" class="form-label">Password:</label>
   <input 
  type="password"
  name="password"
  minlength="8"
  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*/])[A-Za-z\d!@#$%^&*/]{8,}$"
  title="Password must be at least 8 characters long and include one uppercase letter, one number, and one special character (!@#$%^&*/)"
  id="password"
  class="form-control"
  required>
  <div class="signup-redirect">
    don't have an account? <a href="/pigeon/register">signup</a>
  </div>
   <div class="valid-feedback">
            Looks good!
          </div>
         <div class="invalid-feedback">
           password must be 8 characters long and contains a special character
         </div>
         
         
    <button tyoe="submit" class="submit-btn">Submit</button>
    </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  
  <script>
(() => {
  'use strict'

  const forms = document.querySelectorAll('.needs-validation')

  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {

      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')

    }, false)
  })
})()
</script>
